@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');




.crud-container-staff {
  width: 99%;
  margin: 0 auto;
  padding: 20px;
  background-image: linear-gradient(to right, rgba(13, 242, 219, 0.345),rgba(0, 173, 248, 0.35),rgba(58, 34, 238, 0.367), rgba(121, 33, 228, 0.3));
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}


.crud-container-staff h1 {
  font-size: 2rem;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}


.crud-container-staff .form-section {
  background-color: #ffffff99;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}


.crud-container-staff .form-section h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #007bff;
}


.crud-container-staff label {
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #333;
}


.crud-container-staff input[type="text"],
.crud-container-staff textarea,
.crud-container-staff select {
  width: 100%;
  padding: 10px;
  border: 1px inset #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 15px;
  transition: border-color 0.3s ease;
}


.crud-container-staff input[type="text"]:focus,
.crud-container-staff textarea:focus,
.crud-container-staff select:focus {
  border-color: #007bff;
  outline: none;
}


.crud-container-staff button[type="submit"] {
  display: inline-block;
  padding: 10px 15px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.7s ease;
}


.crud-container-staff button[type="submit"]:hover {
  background-color: #11a56a;
}


.crud-container-staff .announcement-list {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.crud-container-staff .announcement-list h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
}


.crud-container-staff ul {
  list-style-type: none;
  padding: 0;
}

.crud-container-staff ul li {
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease,transform 0.5s ease-in-out;
}




.crud-container-staff ul li:hover {
  background-color: #e9ecef;
  transform: translateX(5px);

}

/* Edit button inside the list */
.crud-container-staff .edit {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  transition: background-color 0.5s ease;
}

/* Edit button hover effect */
.crud-container-staff .edit:hover {
  background-color: #0056b3;
  zoom: 1.05;
}

